@import "../base/variables"
@import "../base/breakpoints"

.about
  display: flex
  flex-direction: column
  color: $white
  margin-top: 8rem
  animation: fade-page-in 1s forwards
  &__text
    display: flex
    justify-content: center
    align-items: flex-start   
    margin: 3rem 0 4rem 4rem
    @include respond-to("tablet")
      flex-wrap: wrap
      margin:
        right: 0
        bottom: 4rem
        left: 4rem
    &__text-colum
      width: 50%
      padding-right: 5rem
      @include respond-to("tablet")
        width: 100%
        padding-right: 3rem
  &__contact-link
    text-decoration: none
    color: $dark-blue
    will-change: color
    transition: color 0.5s
    &:hover 
      color: $light-blue