@import "../base/_animation.sass"
@import "../base/_colors.sass"

.projects
  color: $white
  margin-top: 8rem
  animation: fade-page-in 1s forwards
  &__collection
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    margin: 4rem 2.2rem 3rem 2.2rem