@import "../base/variables"

.project-details
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  background-color: $dark
  width: 22rem
  height: 30rem
  border: solid 1px $dark
  margin: 0 1.5rem 1.5rem 1.5rem
  &__description
    height: 11rem
    color: $white
    padding:
      left: 1rem
      right: 1rem
    &__project-name
      font-size: 1.6rem
      margin: 0 0 0.6rem 0
    &__paragraph
      font-size: 1rem
      width: 16rem

.project-links
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin:
    top: 0
    bottom: 1rem
  padding-bottom: 1.5rem
  &__try-it-link
    text-decoration: none
    font-size: 0.9rem
    display: inline-block
    color: $white
    padding: 0.3rem 0.8rem
    border: solid 2px $light-green
    margin:
      right: 0.3rem
      left: 0.3rem
    transition: all 1s
    &:hover 
      background-color: $light-green
  &__github-link  
    text-decoration: none
    font-size: 0.9rem
    display: inline-block
    color: $white
    padding: 0.3rem 0.8rem
    border: solid 2px $blue
    margin:
      right: 0.3rem
      left: 0.3rem
    transition: all 1s
    &:hover 
      background-color: $blue